.container {
    position: relative;
    display: flex;
}

.roulletWrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 50%;
    height: 100%;
}

.itemWrapper {
    margin-left: 100px;
    width: 50%;
}

.number {
    text-align: right;
}

.color-indicator {
    width: 10px;
    height: 10px;
    background-color: #000000;
}

#result{
    display: block;
    font-size: 40px;
    font-weight: bold;
    display: inline;
}

.history {
    display: flex;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 50%;
    animation-name: modalopen;
    animation-duration: 1s;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

.modal-header {
    background: lightblue;
    padding: 3px 15px;
}

.modal-body {
    padding: 10px 20px;
    color: black;
    display: flex;
    justify-content: space-between;
}
