body {
  background-color: gainsboro;
}

.container {
  height: 900px;
  width: 900px;
  margin: 0 auto;
}

/* container内部要素 */

.pin {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  width: 1px;
  /* 二等辺三角形の実装 */
  border-top: 250px solid #000;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.foundation {
  width: 820px;
  height: 820px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* foundation内部要素 */

.circle {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* circle内部要素 */

/* 円の分割 */

.segment {
  display: block;
  height: 50%;
  width: 50%;
}

.segment:nth-child(1) {
  border-radius: 100% 0 0 0;
  background-color: red;
}

.segment:nth-child(2) {
  border-radius: 0 100% 0 0;
  background-color: blue;
}

.segment:nth-child(3) {
  border-radius: 0 0 0 100%;
  background-color: green;
}

.segment:nth-child(4) {
  border-radius: 0 0 100% 0;
  background-color: yellow;
}

/* 円の軸 飾り */

.shaft {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: gray;
  position: absolute;
  z-index: 10;
}

/* ----- テキスト入力フォーム ----- */

/* 右へ回り込みさせる方法は暫定 セグメントの追加・削除に応じてレイアウトの変更に対応させなければならない */

.form-wrapper {
  position: absolute;
  top: 0;
  /* left: 0; */
  right: 0;
  bottom: 0;
  margin: 300px auto;
  width: 250px;
}

.form-wrapper h2 {
  font-weight: normal;
  margin: 0;
}

.input-form {
  height: 30px;
  width: 100%;
}

.box {
  height: 20px;
  width: 20px;
  margin: 3px 5px 0;
  float: left;
}

/* 色分け 暫定 イケてる実装方法を考える */

.r {
  background-color: red;
}

.b {
  background-color: blue;
}

.g {
  background-color: green;
}

.y {
  background-color: yellow;
}
